In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

In [ ]:
!wget https://raw.githubusercontent.com/named-entity/hse-nlp/master/4th_year/Project/dev_aspects.txt
!wget https://raw.githubusercontent.com/named-entity/hse-nlp/master/4th_year/Project/dev_cats.txt
!wget https://raw.githubusercontent.com/named-entity/hse-nlp/master/4th_year/Project/train_split_aspects.txt
!wget https://raw.githubusercontent.com/named-entity/hse-nlp/master/4th_year/Project/train_split_cats.txt
!wget https://raw.githubusercontent.com/annedadaa/ABSA_project/main/dev_pred_aspects_ours.txt

Посчитаем сколько упоминаний каждого типа тональности содержит каждая категория. Для этого нам понадобится файл с размеченными упоминаниями категорий и тональностью каждого упоминания

In [9]:
def count_sentiments(df_asp, df_sent):
    text_ids = df_asp['text_id'].unique()
    frames = []
    for j in text_ids:
        neutral = {'Whole':0, 'Service':0, 'Food':0, 'Interior':0, 'Price':0}
        frequency = {'Whole':0, 'Service':0, 'Food':0, 'Interior':0, 'Price':0}
        both = {'Whole':0, 'Service':0, 'Food':0, 'Interior':0, 'Price':0}
        positive = {'Whole':0, 'Service':0, 'Food':0, 'Interior':0, 'Price':0}
        negative = {'Whole':0, 'Service':0, 'Food':0, 'Interior':0, 'Price':0}
        asp_slice = df_asp.loc[df_asp['text_id']==j]
        asp_slice = asp_slice.reset_index()
        for i in range(len(asp_slice)):
            if asp_slice['sentiment'][i] == 'neutral':
                neutral[asp_slice['category'][i]] +=1
            if asp_slice['sentiment'][i] == 'positive':
                positive[asp_slice['category'][i]] +=1
            if asp_slice['sentiment'][i] == 'negative':
                negative[asp_slice['category'][i]] +=1
            if asp_slice['sentiment'][i] == 'both':
                both[asp_slice['category'][i]] +=1
        sent_slice = df_sent.loc[df_sent['text_id']==j]
        sent_slice = sent_slice.reset_index()
        sent_slice['positive'] = 0
        sent_slice['negative'] = 0
        sent_slice['both'] = 0
        sent_slice['neutral'] = 0
        for i in range(5):
            sent_slice.at[i,'positive'] = positive[sent_slice['category'][i]]
            sent_slice.at[i, 'negative'] = negative[sent_slice['category'][i]]
            sent_slice.at[i, 'both'] = both[sent_slice['category'][i]]
            sent_slice.at[i, 'neutral'] = neutral[sent_slice['category'][i]]
        frames.append(sent_slice)
    return pd.concat(frames)

In [10]:
train_asp = pd.read_csv(
    'train_split_aspects.txt', 
    delimiter='\t', 
    names=['text_id', 'category', 'mention', 'start', 'end', 'sentiment']
)
train_sent = pd.read_csv(
    'train_split_cats.txt',
    delimiter='\t',
    names=['text_id', 'category', 'sentiment'])
result = count_sentiments(train_asp, train_sent)

In [15]:
dev_cats = pd.read_csv('dev_cats.txt', delimiter='\t', names=['text_id', 'category', 'sentiment'])
d_asp = pd.read_csv('dev_pred_aspects_ours.txt',  delimiter='\t', names=['text_id', 'category', 'text', 'start', 'end', 'sentiment'])
dev_cats = count_sentiments(d_asp, dev_cats)

In [16]:
train = result
test = dev_cats
dev_cats

    index  text_id  category sentiment  positive  negative  both  neutral
0     210      785      Food      both         1         1     0        0
1     211      785  Interior  positive         1         0     0        0
2     212      785     Price  negative         0         0     0        0
3     213      785     Whole      both         1         0     0        0
4     214      785   Service  positive         2         0     0        0
..    ...      ...       ...       ...       ...       ...   ...      ...
0     315    38299      Food  positive         8         0     0        0
1     316    38299  Interior  positive         3         0     0        0
2     317    38299     Price   absence         0         0     0        0
3     318    38299     Whole  positive         1         0     0        1
4     319    38299   Service  positive         2         0     0        1

[355 rows x 8 columns]

In [17]:
result

    index  text_id  category sentiment  positive  negative  both  neutral
0       0    30808      Food  positive         2         0     0        0
1       1    30808  Interior  positive         1         0     0        1
2       2    30808     Price  positive         1         0     0        0
3       3    30808     Whole  positive         2         0     0        1
4       4    30808   Service  positive         4         0     0        0
..    ...      ...       ...       ...       ...       ...   ...      ...
0    1060    16630      Food  positive         1         0     0        0
1    1061    16630  Interior  positive         1         0     0        0
2    1062    16630     Price   absence         0         0     0        0
3    1063    16630     Whole  positive         2         0     0        0
4    1064    16630   Service  positive         3         0     0        0

[1065 rows x 8 columns]

In [18]:
le = preprocessing.LabelEncoder()
y_train = le.fit_transform(train['sentiment'])

In [19]:
features_columns = ['positive', 'negative', 'both', 'neutral']

Будем использовать гридсерч на SVM, Decision Tree и KNN классификаторах

In [20]:
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.model_selection import GridSearchCV
from sklearn import svm
from sklearn.svm import LinearSVC
clf = svm.SVC()
parameters_svm = {'kernel': ('linear', 'poly', 'rbf', 'sigmoid'),
                  'gamma': ('scale', 'auto'),
                  'shrinking': (True, False),
               'class_weight': ('balanced', None),
                 'decision_function_shape': ('ovo', 'ovr')}


grid_search_SVM = GridSearchCV(clf, parameters_svm, n_jobs=-1, scoring = "f1_weighted")
grid_search_SVM = grid_search_SVM.fit(train[features_columns], y_train)


print(grid_search_SVM.best_score_)
print(grid_search_SVM.best_params_)

0.8134237550305681
{'class_weight': 'balanced', 'decision_function_shape': 'ovo', 'gamma': 'scale', 'kernel': 'linear', 'shrinking': False}

In [21]:
y_test = le.transform(test['sentiment'])
y_pred = grid_search_SVM.predict(test[features_columns])

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.7070422535211267

In [23]:
from sklearn.tree import DecisionTreeClassifier
param_grid = {'max_features': ['auto', 'sqrt', 'log2'],
              'ccp_alpha': [1, .1, .01, 0.12, 0.15, 0.17, 0.2, .001],
              'max_depth' : [3, 5, 6, 7, 8, 9, 10],
              'criterion' :['gini', 'entropy']
             }
tree_clas = DecisionTreeClassifier(random_state=1024)
grid_search_DTC = GridSearchCV(estimator=tree_clas, param_grid=param_grid, cv=5, verbose=True)
grid_search_DTC.fit(train[features_columns], y_train)
print(grid_search_DTC.best_params_)
print(grid_search_DTC.best_score_)

Fitting 5 folds for each of 336 candidates, totalling 1680 fits
{'ccp_alpha': 0.01, 'criterion': 'entropy', 'max_depth': 9, 'max_features': 'auto'}
0.8178403755868546

In [24]:
y_pred = grid_search_DTC.predict(test[features_columns])
accuracy_score(y_test, y_pred)

0.7098591549295775

In [25]:
from sklearn.neighbors import KNeighborsClassifier
estimator_KNN = KNeighborsClassifier(algorithm='auto')
parameters_KNN = {
    'n_neighbors': (1,10, 1),
    'leaf_size': (20,40,1),
    'p': (1,2),
    'weights': ('uniform', 'distance'),
    'metric': ('minkowski', 'chebyshev')}

grid_search_KNN = GridSearchCV(
    estimator=estimator_KNN,
    param_grid=parameters_KNN,
    scoring = 'accuracy',
    n_jobs = -1,
    cv = 5)

grid_search_KNN.fit(train[features_columns], y_train)

print(grid_search_KNN.best_params_)
print(grid_search_KNN.best_score_)

{'leaf_size': 40, 'metric': 'minkowski', 'n_neighbors': 10, 'p': 2, 'weights': 'uniform'}
0.812206572769953

In [26]:
y_pred = grid_search_KNN.predict(test[features_columns])
accuracy_score(y_test, y_pred)

0.7323943661971831

Лучшие результаты у KNN

In [27]:
model = grid_search_KNN.best_estimator_

In [28]:
model.fit(train[features_columns], y_train)

KNeighborsClassifier(leaf_size=40, n_neighbors=10)

In [ ]:
y_pred = model.predict(test[features_columns])
accuracy_score(y_test, y_pred)

0.7323943661971831

In [29]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred, target_names=['absence', 'both', 'negative', 'neutral', 'positive']))

              precision    recall  f1-score   support

     absence       0.69      0.93      0.79        59
        both       0.46      0.16      0.24        38
    negative       0.67      0.06      0.10        36
     neutral       0.00      0.00      0.00         8
    positive       0.76      0.92      0.83       214

    accuracy                           0.73       355
   macro avg       0.52      0.41      0.39       355
weighted avg       0.69      0.73      0.67       355

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [30]:
from sklearn.metrics import multilabel_confusion_matrix
print(multilabel_confusion_matrix(y_test, y_pred, labels=[0,1,2,3,4]))

[[[271  25]
  [  4  55]]

 [[310   7]
  [ 32   6]]

 [[318   1]
  [ 34   2]]

 [[347   0]
  [  8   0]]

 [[ 79  62]
  [ 17 197]]]

In [32]:
mark_asp = pd.read_csv(
    'dev_pred_aspects_ours.txt', 
    delimiter='\t', 
    names=['text_id', 'category', 'mention', 'start', 'end', 'sentiment']
)
mark_cats = pd.read_csv('dev_cats.txt', delimiter='\t', names=['text_id', 'category', 'sentiment'])
makring = count_sentiments(mark_asp, mark_cats)

In [33]:
mark_asp['sentiment'].value_counts()

positive    836
neutral      74
negative     41
Name: sentiment, dtype: int64

In [34]:
y_pred = model.predict(makring[features_columns])

In [35]:
def get_markings(pred_df, y_pred):
    in_df = pred_df
    y_pred = le.inverse_transform(y_pred)
    pred_df['sentiment'] = 0
    pred_df['sentiment'] = y_pred
    pred_df.drop(['positive', 'negative', 'both', 'neutral', 'index'], axis=1, inplace=True)
    return pred_df

In [36]:
output = get_markings(makring, y_pred)

In [37]:
output

    text_id  category sentiment
0       785      Food      both
1       785  Interior  positive
2       785     Price   absence
3       785     Whole  positive
4       785   Service  positive
..      ...       ...       ...
0     38299      Food  positive
1     38299  Interior  positive
2     38299     Price   absence
3     38299     Whole  positive
4     38299   Service  positive

[355 rows x 3 columns]

In [39]:
output.to_csv('dev_cats_output.txt', sep='\t', header=False, index=False)

# Обучение на всем трейне
Мы уже знаем какие модели лучше с чем справляются и получили разметку для получения evaluation-scores, поэтому, чтобы модели лучше работали на новых данных обучим их на всем трейне.

In [ ]:
!wget https://raw.githubusercontent.com/named-entity/hse-nlp/master/4th_year/Project/train_cats.txt
!wget https://raw.githubusercontent.com/named-entity/hse-nlp/master/4th_year/Project/train_aspects.txt

In [40]:
KNN_full = grid_search_KNN.best_estimator_

In [42]:
full_asp = pd.read_csv(
    'train_split_aspects.txt', 
    delimiter='\t', 
    names=['text_id', 'category', 'mention', 'start', 'end', 'sentiment']
)
full_sent = pd.read_csv(
    'train_split_cats.txt',
    delimiter='\t',
    names=['text_id', 'category', 'sentiment'])
full_result = count_sentiments(full_asp, full_sent)

In [43]:
y_full = le.transform(full_result['sentiment'])
KNN_full.fit(full_result[features_columns], y_full)

KNeighborsClassifier(leaf_size=40, n_neighbors=10)

In [44]:
import pickle
filename = 'task3.sav'
pickle.dump(model, open(filename, 'wb'))